$red: red;
* {
  margin: 0;
  padding: 0;
}
body {
  background-image:url("BackgroundMinimize.png") ;
  background-size: contain;
  position: relative;
  //.all {
    //display: flex;
    .image-box{
      display: grid;
      height: 100%;
      .image-bg{
        max-width: 100%;
        margin: auto;
        height: auto;
      }
      .text-bg{
        max-width: 100%;
        margin: auto;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  .video {
    position: absolute;
    height: auto;
    //width: 60%;
    width: 62.2%;
    bottom: 3.24%;
    left: 49.9%;
    transform: translate(-50%, -50%); /* This will adjust the position of the video to account for its own size */
    margin: auto;
  }

  //}


}